[defaults]
inventory = inventory.yml
vault_password_file = .vault-pass
roles_path = roles
callback_result_format = yaml
display_skipped_hosts = False
interpreter_python = auto_silent
force_handlers = True

[ssh_connection]
pipelining = True
