{
{% for service in web_services %}
  "{{ service.domain }}": {
    "repository": "{{ service.repository }}",
    "workflow_ref": "{{ service.repository }}/.github/workflows/{{ service.workflow }}@refs/heads/{{ service.branch }}",
    "ref": "refs/heads/{{ service.branch }}",
    "requests": "{{ deploy_dir }}/{{ service.domain }}/requests",
    "results": "{{ deploy_dir }}/{{ service.domain }}/results"
  }{{ "," if not loop.last else "" }}
{% endfor %}
}
